


@media(max-width: 1280px) {
	.main-section {
		&__img {
			// transform: none;
		}
	}
}

@media(max-width: 1200px) {
	.main-section {
		&__left {
			width: 40%;
			margin-right: 28px;
		}
		&__right {
			width: 60%;
		}
		&__texts {
			margin-bottom: 40px;
		}
		&__title {
			margin-bottom: 24px;
		}
		&__text {
			// max-width: none;
			width: auto;
			&:first-child {
				margin-bottom: 16px;
			}
			&:last-child {
				margin-left: 0;
			}
		}
		&__img {
			width: 100%;
		}
	}
	.support-trade-section {
		&__text {
			&:first-child {
				margin-bottom: 24px;
			}
		}
	}
	.our-network-section {
		&__map {
			svg {
				margin-bottom: -9px;
			}
			&-info {
				max-width: 390px;
				top: 30px;
			}
			&-texts {
				padding: 16px 36px 17px 36px;
			}
			&-country {
				padding: 6px 36px;
			}
			&-wrapper-link {
				position: static;
				transform: none;
				text-align: center;
				margin-top: 20px;
			}
		}
	}
}

@media(max-width: 1050px) {
	.header {
		&__logo {
			margin-right: 0;
		}
		&__bottom {
			&-inner {
				justify-content: space-between;
			}
		}
		&__nav {
			&-item {
				margin-right: 25px;
			}
		}
	}
	.services-type-section {
		&__item {
			&-bottom {
				padding: 0 16px 24px;
			}
			&-type {
				top: 16px;
				left: 24px;
				font-size: 40px;
			}
		}
	}
	.containers-buying-section {
		&__left {
			margin-top: 30px;
		}
	}
}

@media(max-width: 992px) {
	.intro {
		&__slide {
			&-content {
				&-inner {
					padding-left: 60px;
				}
			}
			&-wave {
				margin-bottom: 24px;
			}
			&-title {
				font-size: 45px;
			}
			&-subtitle {
				font-size: 20px;
			}
		}
	}
	.main-section {
		&__inner {
			align-items: center;
		}
	}
	.containers-buying-section {
		&__inner {
			align-items: start;
		}
	}
	.support-trade-section {
		transform: translateY(-130px);
		&__inner {
			align-items: center;
		}
		&__left {
			padding: 87px 50px 90px;
		}
	}
	.our-network-section {
		transform: translateY(-130px);
		margin-bottom: -130px;
		&__map {
			&-info {
				max-width: none;
				position: static;
				display: flex;
				align-items: center;
			}
			&-texts, &-countries {
				width: 50%;
			}
			&-texts {
				margin-right: 5px;
				border-radius: 0;
			}
			&-countries {
				margin-left: 5px;
			}
			&-country {
				border-radius: 0;
			}
		}
	}
}

@media(max-width: 930px) {
	.header {
		&__nav {
			display: none;
		}
		&__burger {
			display: block;
		}
	}
	.intro {
		padding-top: 0;
		// &__container {
		// 	padding: 0;
		// }
		.container {
			padding: 0;
		}
		&__swiper {
			border-radius: 0;
		}
	}
	.containers-buying-section {
		&__left {
			width: 68%;
			margin-top: 0;
		}
	}
}

@media(max-width: 850px) {
	.header {
		&__socials {
			display: none;
		}
		&__numbers {
			margin-right: 0;
		}
		// &__mobile {
		// 	&-numbers {
		// 		display: none !important;
		// 	}
		// }
	}
	.header__bottom-group {
		&.active {
			.header {
				&__mobile {
					&-socials {
						// display: block !important;
						display: flex !important;
						margin-bottom: 0 !important;
					}
				}
			}
		}
	}
	.section {
		&__title {
			padding-bottom: 14px;
		}
	}
	.main-section {
		.container {
			padding: 0;
		}
		&__inner {
			flex-direction: column;
			align-items: start;
		}
		&__left, &__right {
			width: 100%;
		}
		&__left {
			order: 1;
			margin-right: 0;
			padding: 0 36px;
		}
		&__right {
			padding: 0 0 0 36px;
			margin-bottom: 24px;
		}
		&__img {
			// transform: translateX(36px);
		}
	}
	.services-type-section {
		&__item {
			&-title {
				margin-bottom: 8px;
			}
			&-text {
				font-size: 14px;
				// color: rgba(255, 255, 255, 0.8);
				margin-bottom: 24px;
			}
		}
	}
	.containers-buying-section {
		margin-bottom: -150px;
		&__left {
			transform: translateY(-220px);
		}
		&__img {
			transform: none;
		}
	}
	.support-trade-section {
		transform: none;
	}
	.our-network-section {
		transform: none;
		margin-bottom: 0;
		&__network {
			width: 100%;
			svg {
				width: 100%;
				height: 100%;
			}
		}
	}
}

@media(max-width: 700px) {
	.containers-buying-section {
		margin-bottom: -120px;
		&__left {
			transform: translateY(-190px);
		}
	}
}

@media(max-width: 768px) {
	.header {
		&__numbers {
			display: none;
		}
		&__socials {
			display: flex;
		}
		// &__mobile {
		// 	&-socials {
		// 		display: none !important;
		// 	}
		// 	&-numbers {
		// 		display: block !important;
		// 	}
		// }
		.header__bottom-group {
			&.active {
				.header {
					&__mobile {
						&-socials {
							display: none !important;
						}
						&-numbers {
							display: block !important;
						}
					}
				}
			}
		}
	}
	.intro {
		&__slide {
			&-content {
				width: 100%;
				&-inner {
					padding: 0 36px;
				}
			}
		}
	}
	.section {
		padding: 60px 0 80px;
	}
	.services-type-section {
		&__items {
			justify-content: center;
			margin-bottom: -16px;
		}
		&__item {
			width: 50%;
			margin-bottom: 16px;
		}
	}
	.distribution-section {
		margin-top: 16px;
	}
	.containers-buying-section {
		padding-top: 80px;
	}
	.support-trade-section {
		&__inner {
			flex-direction: column;
		}
		&__right {
			width: 80%;
			order: 0;
			margin-top: 30px;
		}
		&__left {
			width: 100%;
			order: 1;
			padding: 40px 32px 50px;
		}
	}
	.our-network-section {
		&__inner {
			padding-top: 80px;
		}
		&__title {
			padding-bottom: 0;
			margin-bottom: 5px;
		}
	}
}

@media(max-width: 650px) {
	.intro {
		&__slide {
			&-content {
				bottom: 50%;
				transform: translateY(50%);
			}
			&-img {
				min-height: 600px;
				object-fit: cover;
			}
		}
	}
}

@media(max-width: 576px) {
	.services-type-section {
		&__item {
			&-type {
				font-size: 28px;
			}
			&-title {
				font-size: 18px;
			}
		}
	}
	.distribution-section {
		&__title {
			font-size: 28px;
			margin-bottom: 110px;
		}
	}
	.containers-buying-section {
		margin-bottom: -110px;
		&__left {
			transform: translateY(-160px);
		}
	}
	.our-network-section {
		&__map {
			&-info {
				display: block;
			}
			&-texts, &-countries {
				width: 100%;
			}
			&-texts {
				margin-right: 0;
			}
			&-text {
				max-width: none;
			}
			&-countries {
				margin-left: 0;
			}
		}
	}
}

@media(max-width: 520px) {
	.section {
		&__title {
			font-size: 20px;
			line-height: 1.35;
		}
	}
	.services-type-section {
		&__item {
			width: 100%;
			&-bottom {
				padding: 0 30px 37px;
			}
			&-title {
				font-size: 24px;
				margin-bottom: 24px;
			}
			&-text {
				margin-bottom: 32px;
			}
			&-img {
				max-height: 430px;
				object-fit: cover;
			}
		}
	}
	.containers-buying-section {
		margin-bottom: -90px;
		&__left {
			transform: translateY(-140px);
		}
		&__title {
			margin-left: 0;
			padding-bottom: 40px;
			&::after {
				margin-left: -95px;
			}
		}
	}
	.support-trade-section {
		&__title {
			margin-bottom: 24px;
		}
		&__text {
			&:first-child {
				font-size: 14px;
			}
		}
		&__left {
			padding: 32px 36px 41px;
		}
		&__right {
			width: 100%;
			margin-top: 0;
		}
	}
	.our-network-section {
		&__map {
			&-wrapper-link {
				display: none;
			}
		}
	}
}

@media(max-width: 480px) {
	.header {
		&__bottom {
			// padding: 13px 0;
			&-inner {
				padding: 13px 0;
			}
		}
	}
	.services-type-section {
		&__item {
			&-bottom {
				padding: 0 16px 24px;
			}
			&-title {
				font-size: 18px;
				margin-bottom: 8px;
			}
			&-text {
				font-size: 14px;
				color: rgba(255, 255, 255, 0.8);
				margin-bottom: 24px;
			}
			&-img {
				max-height: 390px;
				object-fit: cover;
			}
		}
	}
	.distribution-section {
		min-height: auto;
		&__inner {
			padding: 16px 16px 24px;
		}
		&__title {
			margin-left: 8px;
		}
		&__more-title {
			font-size: 18px;
			margin-bottom: 8px;
		}
		&__text {
			font-size: 14px;
			color: rgba(255, 255, 255, 0.8);
			margin-bottom: 24px;
		}
	}
	.containers-buying-section {
		margin-bottom: -30px;
		&__left {
			transform: translateY(-120px);
		}
		&__title {
			max-width: 208px;
			&::after {
				width: 323px;
				background-image: url('../img/containers-buying/arrow-right-blue-small.svg');
			}
		}
		&__text {
			font-size: 14px;
		}
	}
	.our-network-section {
		&__map {
			&-texts {
				padding: 24px 36px 40px;
			}
			&-text {
				font-size: 14px;
			}
			&-country {
				font-size: 18px;
				line-height: 1.388;
				padding: 6px 32px;
			}
		}
	}
}

@media(max-width: 380px) {
	.containers-buying-section {
		margin-bottom: 0px;
		&__left {
			transform: translateY(-90px);
		}
	}
}

@media(max-width: 360px) {
	.header {
		&__top {
			padding: 37px 0 7px;
		}
		&__socials {
			display: none;
		}
		// &__mobile {
		// 	&-socials {
		// 		display: block !important;
		// 	}
		// }
		.header__bottom-group {
			&.active {
				.header {
					&__mobile {
						&-socials {
							// display: block !important;
							display: flex !important;
							margin-bottom: 23px !important;
							&-item {
								margin-right: 15px;
							}
						}
					}
				}
			}
		}
	}
	.intro {
		&__swiper {
			&-pagination {
				bottom: 12px !important;
				.swiper-pagination-bullet {
					width: 8px;
					height: 8px;
					margin: 0 16px 0 0 !important;
				}
			}
		}
		&__slide {
			&-content {
				bottom: 56px;
				transform: none;
				overflow: hidden;
			}
			&-wave {
				transform: translateX(-75px);
			}
			&-title {
				font-size: 40px;
				line-height: 130%;
				margin-bottom: 8px;
			}
			&-subtitle {
				font-size: 18px;
				line-height: 130%;
			}
		}
	}
	.main-section {
		&__img {
			min-height: 240px;
			object-fit: cover;
		}
	}
	.services-type-section {
		&__item {
			&-img {
				max-height: 362px;
			}
		}
	}
	.containers-buying-section {
		margin-bottom: -10px;
		&__left {
			transform: translateY(-80px);
		}
	}
}