


@media(max-width: 1280px) {
	.main-section {
		&__img {
			// transform: none;
		}
	}
	.we-specialize {
		&__item {
			&-blue {
				.we-specialize__item-inner {
					border-radius: 10px 0 0 10px;
				}
			}
		}
	}
	.trading-partners {
		&__item {
			&_left {
				.trading-partners__item-right {
					max-width: 650px;
				}
			}
			&_right {
				.trading-partners__item-left {
					max-width: 650px;
				}
				.trading-partners__item-right {}
			}
			&-img {
				max-width: 100%;
			}
		}
	}
}

@media(max-width: 1220px) {
	.types-containers {
		&__item {
			&-characteristics {
				&-elem {
					display: block;
				}
			}
			&-left, &-right {
				width: 100%;
			}
			&-right {
				margin-top: 25px;
			}
		}
	}
}

@media(max-width: 1200px) {
	.main-section {
		&__left {
			width: 40%;
			margin-right: 28px;
		}
		&__right {
			width: 60%;
		}
		&__texts {
			margin-bottom: 40px;
			p {
				// max-width: none;
				width: auto;
				&:first-child {
					margin-bottom: 16px;
				}
				&:last-child {
					margin-left: 0;
				}
			}
		}
		// &__title {
		// 	margin-bottom: 24px;
		// }
		// &__text {
		// 	// max-width: none;
		// 	width: auto;
		// 	&:first-child {
		// 		margin-bottom: 16px;
		// 	}
		// 	&:last-child {
		// 		margin-left: 0;
		// 	}
		// }
		&__img {
			width: 100%;
		}
	}
	.support-trade-section {
		&__texts {
			p {
				&:first-child {
					margin-bottom: 24px;
				}
			}
		}
		// &__text {
		// 	&:first-child {
		// 		margin-bottom: 24px;
		// 	}
		// }
	}
	.our-network-section {
		&__map {
			// svg {
			// 	margin-bottom: -9px;
			// }
			&-info {
				max-width: 390px;
				top: 30px;
			}
			&-texts {
				padding: 16px 36px 17px 36px;
			}
			&-country {
				padding: 6px 36px;
			}
			&-wrapper-link {
				position: static;
				transform: none;
				text-align: center;
				margin-top: 20px;
			}
		}
	}
	.contact-section {
		margin: 170px 0 80px;
		&__background {
			width: 342px;
			height: 530px;
		}
	}
	.footer {
		// &__numbers {
		// 	width: 37.5%;
		// }
		&__top {
			justify-content: space-between;
		}
		&__widgets, &__nav, &__numbers, &__socials {
			margin-right: 0;
		}
	}
	.page-intro {
		&__logo {
			width: 100px;
			height: 92px;
		}
	}
	.containers-section {
		// overflow: visible;
		&__inner {
			min-height: 405px;
		}
		// &__left {
		// 	padding-top: 30px;
		// }
		&__img {
			transform: translateX(0) translateY(-50%);
			max-width: 100%;
		}
	}
	.containers-buying-blue {
		&__left {
			padding-top: 30px;
		}
	}
	.containers-buying-green {
		&__left {
			max-width: 400px;
		}
		&__texts {
			margin-bottom: 0;
		}
	}
	.we-specialize {
		overflow: initial;
		&__item {
			&-blue {
				.we-specialize__item-inner {
					width: 100%;
					border-radius: 10px;
				}
			}
		}
	}
	.support-team {
		&__texts {
			margin-bottom: 0;
		}
		&__text {
			&:first-child {
				margin-bottom: 0;
			}
		}
	}
	.trading-partners {
		&__item {
			align-items: center;
		}
	}
	.trading-partners {
		&__item {
			&-left, &-right {
				width: 50%;
			}
			&_left {
				.trading-partners__item-right {
					padding: 0px 60px;
				}
			}
			&_right {
				.trading-partners__item-left {
					padding: 0px 60px;
				}
			}
		}
	}
	.our-network {
		&__map {
			transform: none;
			max-width: 100%;
		}
		&__texts {
			margin-bottom: 0;
			p {
				&:first-child {
					margin-bottom: 24px;
				}
			}
		}
		// &__text {
		// 	&:first-child {
		// 		margin-bottom: 24px;
		// 	}
		// }
	}
}

@media(max-width: 1150px) {
	.types-containers {
		&__item {
			&-head {
				display: block;
			}
		}
	}
}

@media(max-width: 1100px) {
	.containers-buying-green {
		padding: 120px 0 80px;
	}
	.contact-section {
		&__wrapper {
			background: rgba(48, 48, 48, 0.7);
		}
		&__left {
			max-width: none;
			width: 60%;
		}
		&__right {
			width: 40%;
		}
		&__background {
			display: none;
		}
	}
	.containers-section {
		&__left {
			max-width: 315px;
		}
	}
	.contacts {
		&__inner {
			align-items: center;
		}
		&__left {
			width: 60%;
			padding: 37px 36px 33px;
		}
		&__right {
			width: 40%;
		}
		&__imgs {
			display: none;
		}
	}
	.trading-partners {
		&__item {
			margin-bottom: 60px;
		}
	}
}

@media(max-width: 1050px) {
	.header {
		&__logo {
			margin-right: 0;
		}
		&__bottom {
			&-inner {
				justify-content: space-between;
			}
		}
		&__nav {
			&-item {
				margin-right: 25px;
			}
		}
	}
	.services-type-section {
		&__item {
			&-bottom {
				padding: 0 16px 24px;
			}
			&-type {
				top: 16px;
				left: 24px;
				font-size: 40px;
			}
		}
	}
	.containers-buying-section {
		&__left {
			margin-top: 30px;
		}
	}
	.contact-section {
		margin: 80px 0;
		&__background {
			width: 285px;
			height: 432px;
		}
	}
	.footer {
		// &__numbers {
		// 	width: 40.5%;
		// }
		&__nav {
			width: 33.1%;
		}
	}
	.page-intro {
		&__content {
			bottom: 50%;
			transform: translateY(50%);
		}
	}
	.company-founded {
		&__inner {
			display: block;
		}
		&__left {
			text-align: center;
			margin-right: 0;
			margin-bottom: 50px;
		}
		&__wrapper-img {
			max-width: 465px;
			margin: 0 auto;
		}
		&__img {
			max-width: 100%;
		}
	}
}

@media(max-width: 992px) {
	.intro {
		&__slide {
			&-content {
				&-inner {
					padding-left: 60px;
				}
			}
			&-wave {
				margin-bottom: 24px;
			}
			&-title {
				font-size: 45px;
			}
			&-subtitle {
				font-size: 20px;
			}
		}
	}
	.main-section {
		&__inner {
			align-items: center;
		}
	}
	.containers-buying-section {
		&__inner {
			align-items: start;
		}
	}
	.support-trade-section {
		transform: translateY(-130px);
		&__inner {
			align-items: center;
		}
		&__left {
			padding: 87px 50px 90px;
		}
		&__wave {
			display: none;
		}
	}
	.our-network-section {
		transform: translateY(-130px);
		margin-bottom: -130px;
		&__map {
			&-info {
				max-width: none;
				position: static;
				display: flex;
				align-items: center;
			}
			&-texts, &-countries {
				width: 50%;
			}
			&-texts {
				margin-right: 5px;
				border-radius: 0;
			}
			&-countries {
				margin-left: 5px;
			}
			&-country {
				border-radius: 0;
			}
		}
	}
	.contact-section {
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/contact-section/contact-background.jpg");
		background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
		// &__wrapper {
		// 	background: rgba(48, 48, 48, 0.7);
		// }
		&__content {
			justify-content: space-between;
		}
		// &__left {
		// 	max-width: none;
		// 	width: 60%;
		// }
		// &__right {
		// 	width: 40%;
		// }
		// &__background {
		// 	display: none;
		// }
	}
	.footer {
		&__nav {
			width: 40%;
		}
		&__numbers {
			display: flex;
			flex-direction: column;
			justify-content: end;
			align-items: end;
			width: 25%;
		}
		&__number {
			// flex-direction: column;
			// align-items: end;
			// margin-bottom: 15px;
			// span {
			// 	margin-bottom: 5px;
			// 	text-align: right;
			// }
			text-align: right;
		}
		&__socials {
			display: none;
		}
		// &__numbers {
		// 	display: none;
		// }
		// &__nav {
		// 	width: 50%;
		// }
	}
	.page-intro {
		&__content-inner {
			padding-left: 60px;
		}
		&__logo {
			margin: 0 0 32px 60px;
		}
		&__title {
			font-size: 45px;
		}
	}
	.types-containers {
		&__items {
			margin-bottom: -30px;
		}
		&__item {
			width: 50%;
			margin-bottom: 30px;
			&-head {
				display: flex;
			}
		}
	}
	.containers-buying-green {
		&__left {
			max-width: 260px;
		}
	}
	.we-specialize {
		&__row-first {
			margin-bottom: 0;
			.we-specialize__item {
				width: 50%;
				margin-bottom: 20px;
			}
			.we-specialize__item-inner {
				text-align: center;
			}
		}
		// &__item {
		// 	&-big {
		// 		.we-specialize__item-title {
		// 			position: relative;
		// 		}
		// 	}
		// }
	}
	.support-team {
		transform: none;
	}
	.contacts {
		&__wave {
			display: none;
		}
		&__item {
			&-name {
				margin-bottom: 12px;
			}
			&-phone {
				a {
					font-size: 32px;
				}
			}
		}
	}
	.trading-partners {
		&__item {
			&-left, &-right {
				width: auto;
			}
		}
	}
	.trading-partners {
		&__item {
			&_left {
				.trading-partners__item-right {
					max-width: 450px;
					padding: 0 40px;
				}
			}
			&_right {
				.trading-partners__item-left {
					max-width: 450px;
					padding: 0 40px;
				}
			}
		}
	}
}

@media(max-width: 930px) {
	.header {
		&__nav {
			display: none;
		}
		&__burger {
			display: block;
		}
	}
	.intro {
		padding-top: 0;
		// &__container {
		// 	padding: 0;
		// }
		.container {
			padding: 0;
		}
		&__swiper {
			border-radius: 0;
		}
	}
	.containers-buying-section {
		&__left {
			width: 68%;
			margin-top: 0;
		}
	}
	.contact-section {
		margin: 80px 0 0;
	}
	.footer {
		.container {
			padding: 0;
		}
		&__inner {
			border-radius: 0;
		}
	}
	.page-intro {
		.container {
			padding: 0;
		}
		&__wrapper {
			border-radius: 0;
		}
	}
	.global-service {
		&__inner {
			padding: 200px 0 40px;
		}
	}
}

@media(max-width: 850px) {
	.header {
		&__socials {
			display: none;
		}
		&__numbers {
			margin-right: 0;
		}
		// &__mobile {
		// 	&-numbers {
		// 		display: none !important;
		// 	}
		// }
	}
	.header__bottom-group {
		&.active {
			.header {
				&__mobile {
					&-socials {
						// display: block !important;
						display: flex !important;
						margin-bottom: 0 !important;
					}
				}
			}
		}
	}
	.section {
		&__title {
			padding-bottom: 14px;
		}
	}
	.main-section {
		.container {
			padding: 0;
		}
		&__inner {
			flex-direction: column;
			align-items: start;
		}
		&__left, &__right {
			width: 100%;
		}
		&__left {
			order: 1;
			margin-right: 0;
			padding: 0 36px;
		}
		&__right {
			padding: 0 0 0 36px;
			margin-bottom: 24px;
		}
		&__img {
			// transform: translateX(36px);
		}
	}
	.page-intro {
		&__logo {
			display: none;
		}
	}
	.services-type-section {
		&__item {
			&-title {
				margin-bottom: 8px;
			}
			&-text {
				font-size: 14px;
				// color: rgba(255, 255, 255, 0.8);
				margin-bottom: 24px;
			}
		}
	}
	.containers-buying-section {
		margin-bottom: -150px;
		&__left {
			transform: translateY(-220px);
		}
		&__title {
			padding-bottom: 29px;
		}
		&__img {
			transform: none;
		}
	}
	.support-trade-section {
		transform: none;
	}
	.our-network-section {
		transform: none;
		margin-bottom: 0;
		&__title {
			padding-bottom: 0;
		}
		&__network {
			width: 100%;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
	.background-section {
		&__inner {
			padding: 200px 36px 40px;
			min-height: auto;
		}
	}
	.containers-section {
		padding: 80px 0;
		&__inner {
			min-height: auto;
			margin-bottom: -120px;
		}
		&__left {
			max-width: none;
			transform: translateY(-120px);
		}
		&__img {
			position: static;
			transform: none;
		}
	}
	.containers-buying-green {
		&__inner {
			margin-bottom: -60px;
		}
		&__left {
			transform: translateY(-60px);
		}
	}
}

@media(max-width: 800px) {
	.types-containers {
		&__item {
			&-head {
				display: block;
			}
		}
	}
}

@media(max-width: 700px) {
	.containers-buying-section {
		margin-bottom: -120px;
		&__left {
			transform: translateY(-190px);
		}
	}
	.containers-section {
		&__inner {
			margin-bottom: -90px;
		}
		&__left {
			transform: translateY(-90px);
		}
	}
	.types-containers {
		&__item {
			&-head {
				&-property {
					font-size: 18px;
					line-height: 1.388
				}
				&-value {
					font-size: 22px;
					line-height: 1.36;
				}
			}
		}
		&-child {
			&-property {
				font-size: 14px;
			}
		}
	}
	// .containers-buying-green {
	// 	&__left {
	// 		transform: translateY(-40px) !important;
	// 	}
	// }
	.containers-buying-green {
		&__inner {
			margin-bottom: -60px;
		}
		&__left {
			transform: translateY(-60px);
		}
	}
	.we-specialize {
		&__item {
			&-img {
				width: 100%;
			}
		}
	}
}

@media(max-width: 768px) {
	.header {
		&__numbers {
			display: none;
		}
		&__socials {
			display: flex;
		}
		// &__mobile {
		// 	&-socials {
		// 		display: none !important;
		// 	}
		// 	&-numbers {
		// 		display: block !important;
		// 	}
		// }
		.header__bottom-group {
			&.active {
				.header {
					&__mobile {
						&-socials {
							display: none !important;
						}
						&-numbers {
							display: block !important;
						}
					}
				}
			}
		}
	}
	.intro {
		&__slide {
			&-content {
				width: 100%;
				&-inner {
					padding: 0 36px;
				}
			}
		}
	}
	.section {
		padding: 60px 0 80px;
	}
	.services-type-section {
		&__items {
			justify-content: center;
			margin-bottom: -16px;
		}
		&__item {
			width: 50%;
			margin-bottom: 16px;
		}
	}
	.distribution-section {
		margin-top: 16px;
	}
	.containers-buying-section {
		padding-top: 80px;
	}
	.support-trade-section {
		&__inner {
			flex-direction: column;
		}
		&__right {
			width: 80%;
			order: 0;
			margin-top: 30px;
		}
		&__left {
			width: 100%;
			order: 1;
			padding: 40px 32px 50px;
		}
	}
	// .our-network-section {
	// 	&__inner {
	// 		padding-top: 80px;
	// 	}
	// 	&__title {
	// 		padding-bottom: 0;
	// 		margin-bottom: 5px;
	// 	}
	// }
	.contact-section {
		&__left, &__right {
			width: 50%;
		}
		&__left {
			margin-right: 30px;
		}
	}
	.footer {
		&__nav {
			width: 60%;
		}
		&__numbers {
			display: none;
		}
	}
	.page-intro {
		&__logo {
			margin: 0 0 32px 36px;
		}
		&__content {
			width: 100%;
			&-inner {
				padding: 0 36px;
			}
		}
	}
	.company-founded {
		padding: 80px 0;
	}
	.sister-companies {
		&__items {
			// display: block;
			margin-bottom: -40px;
		}
		&__img {
			width: 100%;
		}
		&__item {
			width: 100%;
			margin-bottom: 40px;
		}
	}
	.containers-section {
		.container {
			padding: 0;
		}
		&__left {
			padding: 0 36px;
		}
	}
	.containers-buying-green {
		&__left {
			transform: translateY(-60px);
		}
	}
	.we-specialize {
		padding: 40px 0 80px;
		&__item-blue {
			.we-specialize__item-inner {
				padding: 32px 36px 43px;
			}
		}
	}
	.paragraphs {
		padding: 40px 0 80px;
	}
	.contacts {
		&__inner {
			display: block;
		}
		&__left, &__right {
			width: 100%;
		}
		&__right {
			padding: 43px 36px 0;
		}
		&__imgs {
			display: block;
		}
	}
	.trading-partners {
		&__item {
			margin-bottom: 40px;
			&_left {
				.trading-partners__item-right {
					max-width: 350px;
					padding: 0 36px;
				}
			}
			&_right {
				.trading-partners__item-left {
					max-width: 350px;
					padding: 0 36px;
				}
			}
		}
	}
	.our-network {
		&__items {
			margin: 0 -28px -32px;
		}
		&__item {
			width: 50%;
			margin-bottom: 32px;
		}
	}
}

@media(max-width: 680px) {
	.contacts {
		&__imgs {
			position: relative;
			padding-top: 42px;
		}
		&__ship {
			position: relative;
			right: 0;
			max-width: 100%;
		}
		&__logo {
			width: 150px;
			top: 0;
			right: 0;
		}
	}
}

@media(max-width: 650px) {
	.intro {
		&__slide {
			&-content {
				bottom: 50%;
				transform: translateY(50%);
			}
			&-img {
				min-height: 600px;
				object-fit: cover;
			}
			&-gradient {
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), linear-gradient(180deg, rgba(0, 0, 0, 0) 43.32%, rgba(0, 0, 0, 0.2) 63.63%);
			}
		}
	}
	.page-intro {
		&__img {
			min-height: 500px;
			object-fit: cover;
		}
		&__gradient {
			display: block;
		}
		&__logo {
			display: block;
		}
	}
	.types-containers {
		.container {
			padding: 0;
		}
		&__head {
			padding: 0 36px 32px;
			border-bottom: 1px solid $grey_1;
		}
		&__items {
			margin: 0;
		}
		&__item {
			width: 100%;
			margin-bottom: 0;
			padding: 0;
			&-inner {
				border: 0;
				border-radius: 0;
			}
			&-top {
				text-align: center;
			}
			&-bottom {
				padding: 0 36px;
			}
			&-head {
				display: flex;
				padding-bottom: 0;
				border: 0;
			}
			&-characteristics {
				display: none;
			}
			&-btn {
				display: block;
			}
		}
	}
	.we-specialize {
		&__title {
			margin-bottom: 55px;
		}
		&__row-second {
			display: block;
			.we-specialize__item {
				width: 100%;
				&-blue {
					margin-top: 25px;
				}
			}
		}
	}
	.paragraphs {
		&__item {
			width: 100%;
			margin-bottom: 32px;
			&-text {
				max-width: none;
			}
		}
	}
	.trading-partners {
		&__item {
			flex-direction: column;
			align-items: start;
			&_left {
				.trading-partners__item-left {
					width: 100%;
					text-align: center;
				}
				.trading-partners__item-right {
					max-width: none;
					margin-top: 32px;
				}
				.trading-partners__item-img {
					border-radius: 0;
				}
			}
			&_right {
				.trading-partners__item-left {
					max-width: none;
					margin-top: 32px;
					order: 1;
				}
				.trading-partners__item-right {
					order: 0;
					width: 100%;
					text-align: center;
				}
				.trading-partners__item-img {
					border-radius: 0;
				}
			}
		}
	}
	.our-network {
		&__top {
			display: block;
			&-left, &-right {
				width: 100%;
			}
		}
	}
}

@media(max-width: 576px) {
	.services-type-section {
		&__item {
			&-type {
				font-size: 28px;
			}
			&-title {
				font-size: 18px;
			}
		}
	}
	.distribution-section {
		&__title {
			font-size: 28px;
			margin-bottom: 110px;
		}
	}
	.containers-buying-section {
		margin-bottom: -110px;
		&__left {
			transform: translateY(-160px);
		}
	}
	.our-network-section {
		&__map {
			&-info {
				display: block;
			}
			&-texts, &-countries {
				width: 100%;
			}
			&-texts {
				margin-right: 0;
				p {
					max-width: none;
				}
			}
			// &-text {
			// 	max-width: none;
			// }
			&-countries {
				margin-left: 0;
			}
		}
	}
	.footer {
		&__widgets, &__nav {
			width: 50%;
		}
		&__widgets {
			margin-right: 50px;
		}
		&__nav {
			&-list {
				display: block;
			}
			&-col {
				&:first-child {
					margin-bottom: 24px;
				}
			}
			&-item {
				margin-bottom: 24px;
			}
		}
	}
	.contact-section {
		padding: 40px 0;
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/contact-section/contact-background1.jpg");
		background-size: cover;
    background-repeat: no-repeat;
		background-position: -829px;
		&__content {
			display: block;
			padding: 50px 0 60px;
		}
		&__left, &__right {
			width: 100%;
		}
		&__left {
			margin-bottom: 36px;
		}
		&__submit {
			margin-top: 24px;
			&::after {
				right: 32%;
			}
		}
	}
	.company-founded {
		&__item {
			width: 100%;
			&-head {
				justify-content: start;
			}
			&-text {
				padding-right: 0;
			}
		}
	}
	.our-network {
		&__items {
			padding: 0;
		}
		&__item {
			width: 100%;
			margin-bottom: 32px;
		}
	}
}

@media(max-width: 520px) {
	.section {
		&__title {
			font-size: 20px;
			line-height: 1.35;
			margin-bottom: 24px;
		}
	}
	.main-section {
		&__texts {
			p {
				font-size: 14px;
			}
		}
		// &__text {
		// 	font-size: 14px;
		// }
	}
	.services-type-section {
		&__item {
			width: 100%;
			&-bottom {
				padding: 0 30px 37px;
			}
			&-title {
				font-size: 24px;
				margin-bottom: 24px;
			}
			&-text {
				margin-bottom: 32px;
			}
			&-img {
				max-height: 430px;
				object-fit: cover;
			}
		}
	}
	.containers-buying-section {
		margin-bottom: -90px;
		&__left {
			transform: translateY(-140px);
		}
		&__title {
			margin-left: 0;
			padding-bottom: 40px;
			&::after {
				margin-left: -95px;
			}
		}
	}
	.support-trade-section {
		&__title {
			margin-bottom: 24px;
		}
		&__texts {
			p {
				&:first-child {
					font-size: 14px !important;
				}
			}
		}
		// &__text {
		// 	&:first-child {
		// 		font-size: 14px;
		// 	}
		// }
		&__left {
			padding: 32px 36px 41px;
		}
		&__right {
			width: 100%;
			margin-top: 0;
		}
	}
	.our-network-section {
		&__map {
			&-wrapper-link {
				display: none;
			}
		}
	}
	.contact-section {
		&__title {
			display: none;
		}
		&__text {
			font-weight: 600;
			font-size: 18px;
			line-height: 1.388;
			text-align: center;
			color: $white;
		}
	}
	.footer {
		&__top {
			padding: 30px 36px 52px;
		}
		&__bottom {
			padding: 16px 36px;
		}
		&__title {
			font-size: 18px;
			line-height: 1.388;
		}
	}
	.company-founded {
		&__left-title {
			font-size: 24px;
			span {
				font-size: 32px;
			}
		}
	}
	.containers-section {
		&__inner {
			margin-bottom: -70px;
		}
		&__left {
			transform: translateY(-70px);
		}
		&__title {
			margin-bottom: 24px;
		}
	}
	.types-containers {
		&__item {
			&-child {
				&-property {
					font-size: 14px;
				}
			}
			&-value {
				margin-bottom: 15px;
			}
		}
	}
	.containers-buying-green {
		&__inner {
			margin-bottom: -40px;
		}
		&__left {
			transform: translateY(-40px);
		}
	}
	.we-specialize {
		&__item {
			&-title {
				font-size: 20px;
				padding: 20px 40px 25px;
			}
			&-blue {
				.we-specialize__item-title {
					font-size: 20px;
				}
				.we-specialize__item-list {
					li {
						font-size: 16px;
					}
				}
			}
		}
	}
	.trading-partners {
		&__item {
			&-title {
				max-width: 265px;
			}
			&-text {
				font-size: 14px;
			}
		}
	}
}

@media(max-width: 480px) {
	.header {
		&__bottom {
			// padding: 13px 0;
			&-inner {
				padding: 13px 0;
			}
		}
	}
	.services-type-section {
		&__item {
			&-bottom {
				padding: 0 16px 24px;
			}
			&-title {
				font-size: 18px;
				margin-bottom: 8px;
			}
			&-text {
				font-size: 14px;
				color: rgba(255, 255, 255, 0.8);
				margin-bottom: 24px;
			}
			&-img {
				max-height: 390px;
				object-fit: cover;
			}
		}
	}
	.distribution-section {
		min-height: auto;
		&__inner {
			padding: 16px 16px 24px;
		}
		&__title {
			margin-left: 8px;
		}
		&__more-title {
			font-size: 18px;
			margin-bottom: 8px;
		}
		&__text {
			font-size: 14px;
			color: rgba(255, 255, 255, 0.8);
			margin-bottom: 24px;
		}
	}
	.containers-buying-section {
		margin-bottom: -30px;
		&__left {
			transform: translateY(-120px);
		}
		&__title {
			max-width: 208px;
			&::after {
				width: 323px;
				background-image: url('../img/containers-buying/arrow-right-blue-small.svg');
			}
		}
		&__texts {
			p {
				font-size: 14px;
			}
		}
		// &__text {
		// 	font-size: 14px;
		// }
	}
	.our-network-section {
		&__inner {
			padding-top: 129px;
		}
		&__title {
			margin-bottom: 24px;
		}
		&__map {
			&-texts {
				padding: 24px 36px 40px;
				p {
					font-size: 14px;
				}
			}
			// &-text {
			// 	font-size: 14px;
			// }
			&-country {
				font-size: 18px;
				line-height: 1.388;
				padding: 6px 32px;
			}
		}
	}
	.contact-section {
		&__submit {
			&::after {
				right: 27%;
			}
		}
	}
	.footer {
		&__top {
			display: block;
		}
		&__logo {
			margin-bottom: 32px;
		}
		&__info {
			display: none;
		}
		// &__socials {
		// 	display: none;
		// }
		&__title {
			display: none;
		}
		&__nav {
			width: auto;
			&-list {
				display: flex;
			}
			&-col {
				margin-right: 50px;
				&:last-child {
					margin-right: 0;
				}
			}
			&-link {
				font-size: 14px;
				line-height: 1.357;
			}
		}
	}
	.page-intro {
		&__background-cyan {
			width: 70%;
			clip-path: polygon(0% 0, 100% 0, 32.5% 100%, 0 100%, 0 0%);
		}
		&__background-blue {
			width: 87.2%;
		}
	}
	.company-founded {
		.container {
			padding: 0;
		}
		&__left {
			margin-bottom: 40px;
			&-title {
				max-width: 244px;
				margin: 0 auto;
				text-align: left;
			}
		}
		&__right {
			padding: 0 36px;
			&-title {
				margin: 0px 0 40px;
			}
		}
		&__wrapper-img {
			max-width: none;
			margin: auto;
		}
		&__img {
			width: 100%;
			border-radius: 0;
		}
		&__item {
			&-head {
				margin-bottom: 8px;
			}
		}
	}
	.sister-companies {
		.container {
			padding: 0;
		}
		&__head {
			padding: 0 36px;
		}
		&__items {
			margin: 0 0 -40px 0;
		}
		&__item {
			padding: 0;
			&-text{
				padding: 0 36px;
			}
		}
		&__img {
			border-radius: 0;
		}
	}
	.global-service {
		&__wrapper {
			min-height: 450px;
		}
		&__inner {
			padding: 389px 36px 30px;
			text-align: left;
		}
		&__title {
			margin-bottom: 0;
		}
		&__text {
			display: none;
		}
		&__more-text {
			display: block;
			padding: 0 36px;
			margin-top: 16px;
		}
	}
	.solution {
		margin-bottom: 0;
		&__inner {
			padding: 272px 36px 32px
		}
		&__title {
			max-width: 182px;
			margin: 0 auto 16px;
			font-size: 20px;
		}
		&__text {
			font-size: 14px;
			color: rgba(255, 255, 255, 0.8);
		}
	}
	.we-specialize {
		overflow: hidden;
		.container {
			padding: 0;
		}
		&__item {
			padding: 0 36px;
			margin-bottom: 16px;
			&-blue {
				padding: 0;
				.we-specialize__item-inner {
					border-radius: 0;
				}
			}
		}
		&__row-first {
			display: block;
			margin: 0;
			.we-specialize__item {
				width: 100%;
				margin-bottom: 16px;
			}
		}
		&__row-second {
			margin: 0;
			.we-specialize__item {
				&-blue {
					margin-bottom: 0;
				}
			}
		}
	}
	.contacts {
		.container {
			padding: 0;
		}
		&__title {
			padding: 0 36px 14px;
			margin-bottom: 24px;
		}
		&__left {
			border-radius: 0;
			padding: 37px 36px 0;
		}
		&__right {
			display: none;
		}
	}
	.our-network {
		.container {
			padding: 0;
		}
		&__top {
			&-right {
				padding: 0 36px;
			}
		}
		&__items {
			// padding: 0;
			margin: 0 0 -32px;
		}
		&__item {
			padding: 0;
			&-country {
				border-radius: 0;
				padding: 6px 36px 7px;
				text-align: left;
			}
			&-title, &-text {
				padding: 0 36px;
			}
		}
	}
}

@media(max-width: 420px) {
	.our-network-section {
		&__network {
			top: 93px;
		}
	}
	.containers-section {
		&__inner {
			margin-bottom: -60px;
		}
		&__left {
			transform: translateY(-60px);
		}
	}
	.containers-buying-green {
		&__inner {
			margin-bottom: -30px;
		}
		&__left {
			transform: translateY(-30px);
		}
	}
	.contacts {
		&__item {
			&-name {
				font-size: 16px;
				line-height: 1.375;
			}
			&-phone {
				margin-bottom: 16px;
				img {
					width: 30px;
				}
				a {
					font-size: 28px;
					line-height: 100%;
					margin-left: 12px;
				}
			}
			&-socials {
				margin-right: 16px;
			}
			&-social {
				width: 25px;
				height: 25px;
				img {
					width: 52%;
				}
			}
			&-email {
				font-size: 14px;
				line-height: 1.357;
			}
		}
		&__logo {
			right: -16px;
		}
		&__ship {
			right: 36px;
			bottom: -10px;
		}
	}
	.our-network {
		&__item {
			&-country {
				font-size: 18px;
				line-height: 1.388;
				margin-bottom: 16px;
			}
			&-text {
				font-size: 14px;
			}
		}
	}
}

@media(max-width: 380px) {
	.containers-buying-section {
		margin-bottom: 0px;
		&__left {
			transform: translateY(-90px);
		}
	}
	.contact-section {
		&__submit {
			&::after {
				right: 21%;
			}
		}
		&__input {
			padding: 15px 24px;
		}
	}
	.company-founded {
		&__item {
			&-title {
				font-size: 16px;
			}
			&-text {
				font-size: 14px;
			}
		}
	}
	.sister-companies {
		padding-bottom: 40px;
		&__head {
			margin-bottom: 24px;
		}
		&__title {
			margin-bottom: 24px;
		}
		&__wrapper-img {
			margin-bottom: 16px;
		}
		&__item-text {
			font-size: 14px;
		}
	}
	.iti {
		&__selected-flag {
			padding: 0 6px 0 24px !important;
		}
	}
	.iti--allow-dropdown input, .iti--allow-dropdown input[type=text], .iti--allow-dropdown input[type=tel], .iti--separate-dial-code input, .iti--separate-dial-code input[type=text], .iti--separate-dial-code input[type=tel] {
		padding-left: 62px !important;
	}
}

@media(max-width: 360px) {
	.header {
		&__top {
			padding: 37px 0 7px;
		}
		&__socials {
			display: none;
		}
		// &__mobile {
		// 	&-socials {
		// 		display: block !important;
		// 	}
		// }
		.header__bottom-group {
			&.active {
				.header {
					&__mobile {
						&-socials {
							// display: block !important;
							display: flex !important;
							margin-bottom: 23px !important;
							&-item {
								margin-right: 15px;
							}
						}
					}
				}
			}
		}
	}
	.intro {
		&__swiper {
			&-pagination {
				bottom: 12px !important;
				.swiper-pagination-bullet {
					width: 8px;
					height: 8px;
					margin: 0 16px 0 0 !important;
				}
			}
		}
		&__slide {
			&-content {
				bottom: 56px;
				transform: none;
				overflow: hidden;
			}
			&-wave {
				transform: translateX(-75px);
			}
			&-title {
				font-size: 40px;
				line-height: 130%;
				margin-bottom: 8px;
			}
			&-subtitle {
				font-size: 18px;
				line-height: 130%;
			}
		}
	}
	.main-section {
		&__img {
			min-height: 240px;
			object-fit: cover;
		}
	}
	.services-type-section {
		&__item {
			&-img {
				max-height: 362px;
			}
		}
	}
	.containers-buying-section {
		margin-bottom: -10px;
		&__left {
			transform: translateY(-80px);
		}
	}
	.footer {
		&__nav {
			&-col {
				margin-right: 0;
			}
		}
	}
	.support-trade-section {
		&__img {
			min-height: 380px;
		}
	}
	.page-intro {
		&__content {
			top: 57px;
			bottom: auto;
			transform: none;
		}
		&__title {
			font-size: 40px;
		}
	}
	.sister-companies {
		&__img {
			min-height: 300px;
			object-fit: cover;
		}
	}
	.global-service {
		
	}
	.containers-section {
		&__inner {
			margin-bottom: 0;
		}
		&__left {
			transform: none;
		}
	}
	.containers-buying-green {
		&__left {
			margin-top: 24px;
		}
	}
	.support-team {
		&__texts {
			margin-bottom: 40px;
		}
		&__link {
			display: inline-block;
		}
	}
	.paragraphs {
		&__item {
			&-title {
				font-size: 18px;
				margin-bottom: 12px;
			}
			&-text {
				font-size: 14px;
			}
		}
	}
	.trading-partners {
		&__item {
			&-img {
				min-height: 300px;
				object-fit: cover;
			}
		}
	}
}

@media(max-width: 340px) {
	.types-containers {
		&__item {
			&-head {
				display: block;
			}
		}
	}
	.contacts {
		&__item {
			&-phone {
				a {
					font-size: 24px;
				}
			}
			&-links {
				display: block;
			}
			&-socials {
				margin: 0 0 10px 0;
			}
		}
	}
}