$black: #000;
$black_1: #323232;
$white: #fff;
$grey: #BEBEBE;
$grey_1: #D9D9D9;
$grey_2: #F0F0F0;
$grey_3: #878787;
$cyan : #24D385;

$nunitoSans: 'NunitoSans', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$inter: 'Inter', sans-serif;