@import 'reset.scss';
@import 'variables.scss';
@import 'fonts.scss';
@import 'mixins.scss';



body {
	font-size: 16px;
	font-weight: 600;
	line-height: 1.6;
	font-family: $nunitoSans;
	color: $black;
	background-color: $white;
}

.container {
	max-width: 1212px;
	margin: 0 auto;
	padding: 0 36px;
}

/* HEADER */
.header {
	&__top {
		padding: 10px 0;
		&-inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&-right {
			display: flex;
			align-items: center;
		}
	}
	&__bottom {
		// padding: 33px 0;
		border-top: 1px solid $grey_2;
		border-bottom: 1px solid $grey_2;
		position: relative;
		&-inner {
			display: flex;
			align-items: center;
			padding: 33px 0;
			// position: relative;
		}
	}
	&__email {
		font-weight: 400;
		font-size: 12px;
		line-height: 1.333;
		color: $grey;
	}
	&__numbers, &__socials {
		display: flex;
	}
	&__numbers {
		margin-right: 34px;
	}
	&__number {
		font-weight: 600;
		font-size: 12px;
		line-height: 1.333;
		color: $grey;
		text-transform: uppercase;
		margin-right: 24px;
		&:last-child {
			margin-right: 0;
		}
		span {
			margin-right: 2px;
		}
		a {
			color: $grey;
		}
	}
	&__social {
		width: 20px;
		height: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $grey_1;
		border-radius: 100%;
		margin-right: 12px;
		&:last-child {
			margin-right: 0;
		}
	}
	&__logo {
		margin-right: 74px;
	}
	.header__bottom-group {
		&.active {
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 10;
			width: 100%;
			padding: 48px 36px 40px;
			background-color: $white;
			border-bottom: 1px solid $grey_2;
			.header {
				&__nav {
					display: block;
					margin-bottom: 40px;
					&-list {
						display: block;
					}
					&-item {
						margin-bottom: 34px;
						&:last-child {
							margin-bottom: 0;
						}
					}
					&-link {
						display: inline-block;
						font-size: 18px;
						line-height: 1.388;
						text-transform: uppercase;
					}
				}
				// &__mobile {
				// 	&-socials, &-numbers {
				// 		display: block;
				// 	}
				// }
				&__mobile {
					&-socials {
						// background-color: $black;
						justify-content: space-between;
						align-items: center;
						padding-bottom: 7px;
						border-bottom: 1px solid rgba(0, 0, 0, 0.1);
						margin-bottom: 23px;
						&-title {
							line-height: 1.375;
							color: rgba(50, 50, 50, 0.3);
						}
						&-items {
							display: flex;
						}
						&-item {
							background-color: $grey_1;
							width: 30px;
							height: 30px;
							display: flex;
							align-items: center;
							justify-content: center;
							border-radius: 100%;
							margin-right: 20px;
							&:last-child {
								margin-right: 0;
							}
						}
					}
					&-numbers {
						&-item {
							display: flex;
							justify-content: space-between;
							align-items: center;
							margin-bottom: 23px;
							&:last-child {
								margin-bottom: 0;
							}
							span {
								line-height: 1.375;
								color: rgba(50, 50, 50, 0.3);
								text-transform: uppercase;
							}
							a {
								font-weight: 700;
								color: $black_1;
							}
						}	
					}
				}
			}
		}
	}
	&__nav {
		&-list {
			display: flex;
		}
		&-item {
			margin-right: 40px;
			&:last-child {
				margin-right: 0;
			}
			&.active {
				.header__nav-link {
					color: $cyan;
				}
			}
		}
		&-link {
			display: block;
			font-weight: 600;
			font-size: 14px;
			line-height: 1.357;
			color: $black_1;
			margin-top: 2px;
			transition: .4s linear color;
			&::after {
				content: "";
				display: block;
				width: 100%;
				height: 2px;
				opacity: 0;
				background-color: $cyan;
				transition: .4s linear opacity;
			}
			&:hover {
				color: $cyan;
				&::after {
					opacity: 1;
				}
			}
		}
	}
	&__mobile {
		&-socials, &-numbers {
			display: none;
		}
	}
	&__burger {
		display: none;
		width: 20px;
		height: 15px;
		position: relative;
		cursor: pointer;
		span {
			display: block;
			width: 100%;
			height: 2px;
			background-color: $black_1;
			position: absolute;
			transition: .4s linear transform;
			&:first-child {
				top: 0;
			}
			&:nth-child(2) {
				top: 7px;
			}
			&:last-child {
				bottom: 0;
			}
		}
		&.active {
			span {
				&:first-child {
					transform: rotate(45deg);
				}
				&:nth-child(2) {
					opacity: 0;
				}
				&:last-child {
					transform: rotate(-45deg);
				}
				&:first-child, &:last-child {
					top: 7px;
				}
			}
		}
	}
}
/* HEADER */

/* INTRO */
.intro {
	padding-top: 50px;
	// padding-bottom: 50px;
	// &__container {
	// 	padding: 0 36px;
	// }
	&__swiper {
		border-radius: 10px;
		&-pagination {
			bottom: 16px !important;
			display: flex;
			justify-content: center;
			.swiper-pagination-bullet {
				width: 10px;
				height: 10px;
				background: $white;
				opacity: .7;
				margin: 0 20px 0 0 !important;
				&:last-child {
					margin: 0 !important;
				}
			}
			.swiper-pagination-bullet-active {
				background: $cyan;
				opacity: 1;
			}
		}
	}
	&__slide {
		&-img {
			width: 100%;
		}
		&-gradient {
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 61.35%, rgba(0, 0, 0, 0.2) 83.86%);
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
		&-content {
			position: absolute;
			bottom: 68px;
			&-inner {
				padding-left: 97px;
			}
		}
		&-wave {
			margin-bottom: 31px;
		}
		&-title {
			font-weight: 800;
			font-size: 52px;
			line-height: 100%;
			text-transform: uppercase;
			color: $white;
			margin-bottom: 12px;
		}
		&-subtitle {
			font-weight: 700;
			font-size: 24px;
			line-height: 100%;
			color: $white;
			margin-bottom: 32px;
		}
	}
}
/* INTRO */

/* BTNS */
.link-green-arrow {
	display: inline-block;
	padding: 9px 40px;
	border-radius: 30px;
	background-color: $cyan;
	color: $white;
	font-size: 16px;
	span {
		padding-right: 57px;
		position: relative;
		&::after {
			content: "";
			display: inline-block;
			width: 41px;
			height: 10px;
			background-image: url('@img/intro/arrow-right.svg');
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			transition: .4s linear right;
		}
	}
	&:hover {
		span {
			&::after {
				right: -10px;
			}
		}
	}
}
.link-green-stroke {
	display: inline-block;
	padding: 10px 38px;
	border-radius: 30px;
	border: 2px solid #24D385;
	font-weight: 700;
	font-size: 12px;
	line-height: 160%;
	color: $white;
	text-transform: uppercase;
	cursor: pointer;
	transition: .4s linear background-color;
	&:hover {
		background-color: $cyan;
	}
}
/* BTNS */

/* TITLE */
.section {
	padding: 120px 0;
	&__title {
		font-weight: 800;
		font-size: 24px;
		line-height: 1.375;
		color: $black_1;
		padding-bottom: 20px;
		position: relative;
		&::after {
			content: "";
			width: 50px;
			height: 8px;
			display: block;
			background-image: url('@img/about-section/wave-green.svg');
			position: absolute;
			bottom: 0;
		}
	}
}
/* TITLE */

/*MAIN_SECTION*/
.main-section {
	overflow-x: hidden;
	&__inner {
		display: flex;
	}
	&__left {
		margin-right: 48px;
	}
	&__title {
		margin-bottom: 32px;
	}
	&__texts {
		margin-bottom: 48px;
		p {
			// max-width: 340px;
			width: 340px;
			&:first-child {
				margin-bottom: 24px;
			}
			&:last-child {
				margin-left: 97px;
			}
		}
	}
	// &__text {
	// 	// max-width: 340px;
	// 	width: 340px;
	// 	&:first-child {
	// 		margin-bottom: 24px;
	// 	}
	// 	&:last-child {
	// 		margin-left: 97px;
	// 	}
	// }
	&__img {
		// transform: translateX(68px);
		border-radius: 10px 0px 0px 10px;
	}
}
/*MAIN_SECTION*/

.about-company-section {
	&__img {
		transform: translateX(-2px);
	}
}

/*SERVICES-TYPE-SECTION*/
.services-type-section {
	&__container {
		max-width: 1282px;
		padding: 0 36px;
		margin: 0 auto;
	}
	&__title {
		text-align: center;
		max-width: 512px;
		margin: 0 auto 30px;
		padding-bottom: 24px;
		&::after {
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
	}
	&__item {
		width: 33.33333%;
		padding: 0 10px;
		border-radius: 10px;
		overflow: hidden;
		&-inner {
			position: relative;
			border-radius: 10px;
			overflow: hidden;
			// cursor: pointer;
			&:hover {
				.link-green-stroke {
					background-color: $cyan;
				}
				.services-type-section__item-background {
					opacity: 1;
				}
			}
		}
		&-img {
			width: 100%;
		}
		&-background {
			opacity: 0;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 54.82%, rgba(0, 0, 0, 0.3) 75.52%), linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			transition: .4s linear opacity;
		}
		&-type {
			position: absolute;
			top: 24px;
			left: 34px;

			font-weight: 800;
			font-size: 52px;
			line-height: 120%;
			text-transform: uppercase;
			color: rgba(255, 255, 255, 0.3);
		}
		&-bottom {
			position: absolute;
			bottom: 0;
			text-align: center;
			padding: 0 47px 38px;
		}
		&-title {
			font-weight: 800;
			font-size: 24px;
			line-height: 130%;
			color: $white;
			margin-bottom: 24px;
		}
		&-text {
			line-height: 140%;
			color: $white;
			margin-bottom: 32px;
		}
	}
}
/*DISTRIBUTION-SECTION*/
.distribution-section {
	min-height: 400px;
	margin-top: 20px;
	&__container {
		max-width: 1282px;
		padding: 0 36px;
		margin: 0 auto;
	}
	&__inner {
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 48.14%, rgba(0, 0, 0, 0.3) 76.09%), linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('@img/distribution-section/distribution-background.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		padding: 24px 30px 37px;
		border-radius: 10px;
	}
	&__content-bottom {
		max-width: 528px;
		margin: 0 auto;
		text-align: center;
	}
	&__title {
		font-weight: 800;
		font-size: 52px;
		line-height: 120%;
		text-transform: uppercase;
		color: rgba(255, 255, 255, 0.3);
		margin-bottom: 102px;
	}
	&__more-title {
		font-weight: 800;
		font-size: 24px;
		line-height: 130%;
		color: $white;
		margin-bottom: 24px;
	}
	&__text {
		font-weight: 600;
		line-height: 140%;
		color: $white;
		margin-bottom: 32px;
	}
}
/*DISTRIBUTION-SECTION*/

/*CONTAINERS-BUYING-SECTION*/
.containers-buying-section {
	padding-top: 100px;
	&__left {
		margin-top: 71px;
	}
	&__title {
		max-width: 262px;
		padding-bottom: 29px;
		margin-left: 97px;
		&::after {
			// width: 363px;
			width: 388px;
			height: 34px;
			// margin-left: -169px;
			margin-left: -185px;
			background-image: url('@img/containers-buying/arrow-right-blue.svg');
		}
	}
	&__texts {
		p {
			// max-width: 348px;
			width: 348px;
		}
	}
	// &__text {
	// 	// max-width: 348px;
	// 	width: 348px;
	// }
	&__img {
		transform: translateX(-35px);
	}
}
/*CONTAINERS-BUYING-SECTION*/

// .containers-buying-section {
// 	padding-top: 100px;
// 	&__img {
// 		transform: translateX(-35px);
// 	}
// }

/*SUPPORT-TRADE*/
.support-trade-section {
	transform: translateY(-189px);
	background-color: $black_1;
	&__container {
		max-width: 1280px;
		margin: 0 auto;
	}
	&__inner {
		display: flex;
	}
	&__left {
		width: 50.8%;
		padding: 87px 113px 90px 68px;
		position: relative;
	}
	&__right {
		width: 49.2%;
	}
	&__title {
		color: $white;
		margin-bottom: 40px;
	}
	&__texts {
		margin-bottom: 40px;
		p {
			width: auto;
			&:first-child {
				margin-bottom: 32px;
				color: $white;
			}
			&:last-child {
				margin-left: 0;
				font-size: 14px;
				color: $grey_3;
				padding-left: 13px;
				position: relative;
				&::before {
					content: "*";
					position: absolute;
					left: 0;
				}
			}
		}
	}
	// &__text {
	// 	width: auto;
	// 	&:first-child {
	// 		margin-bottom: 32px;
	// 		color: $white;
	// 	}
	// 	&:last-child {
	// 		margin-left: 0;
	// 		font-size: 14px;
	// 		color: $grey_3;
	// 		padding-left: 13px;
	// 		position: relative;
	// 		&::before {
	// 			content: "*";
	// 			position: absolute;
	// 			left: 0;
	// 		}
	// 	}
	// }
	&__wave {
		position: absolute;
		bottom: 40px;
		right: 0;
	}
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
/*SUPPORT-TRADE*/

/*OUR-NETWORK-SECTION*/
.our-network-section {
	transform: translateY(-189px);
	margin-bottom: -189px;
	&__container {
		max-width: 1280px;
		margin: 0 auto;
	}
	&__inner {
		padding-top: 118px;
		position: relative;
	}
	&__network {
		// display: none;
		position: absolute;
		left: 50%;
		top: 65px;
		z-index: -1;
		transform: translateX(-50%);
	}
	&__title {
		text-align: center;
		margin-bottom: 16px;
		padding-bottom: 0;
		&::after {
			display: none;
		}
	}
	&__map {
		background-color: $white;
		position: relative;
		// svg {
		img {
			width: 100%;
			height: 100%;
		}
		&-info {
			max-width: 436px;
			position: absolute;
			top: 60px;
			left: 0;
		}
		&-texts {
			background: linear-gradient(180deg, #7AA1B7 0%, #7097AD 100%);
			border-radius: 0px 5px 5px 0px;
			padding: 16px 47px 17px 69px;
			margin-bottom: 10px;
			p {
				color: $white;
				margin-bottom: 16px;
				max-width: 324px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		// &-text {
		// 	color: $white;
		// 	margin-bottom: 16px;
		// 	max-width: 324px;
		// 	&:last-child {
		// 		margin-bottom: 0;
		// 	}
		// }
		&-country {
			border-radius: 0px 5px 5px 0px;
			padding: 6px 69px;
			margin-bottom: 10px;
			font-weight: 800;
			font-size: 20px;
			line-height: 1.35;
			color: $white;
			&:first-child {
				background: linear-gradient(180deg, #24D385 0%, #10BF71 100%);
			}
			&:nth-child(2) {
				background: linear-gradient(180deg, #FFF115 0%, #F4D300 100%);
			}
			&:last-child {
				background: linear-gradient(180deg, #82D9ED 0%, #6EC5D9 100%);
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
		&-wrapper-link {
			position: absolute;
			bottom: 30px;
			left: 50%;
			transform: translateX(-50%);
		}
		&-link {
			// padding: 17px 157px 17px 117px;
			padding: 17px 108px;
			text-transform: uppercase;
			// &::after {
			// 	right: 90px;
			// }
			// &:hover {
			// 	&::after {
			// 		right: 80px;
			// 	}
			// }
		}
	}
}
/*OUR-NETWORK-SECTION*/

/* CONTACT-SECTION */
.contact-section {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('@img/contact-section/contact-background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 45px 0;
	position: relative;
	margin: 270px 0 80px;
	&__wrapper {
		// padding: 45px 0;
		// background: linear-gradient(270deg, #303030 15%,rgba(48, 48, 48, 0) 39.3%);
		background: linear-gradient(270deg, #303030 60%, rgba(48, 48, 48, 0) 80.3%);
	}
	&__background {
		width: 430px;
		height: 631px;
		background: url('@img/contact-section/speaker.png');
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		bottom: 0;
	}
	&__content {
		padding: 51px 0;
		// background: linear-gradient(270deg, rgba(48, 48, 48, 0) 0%, #303030 39.3%);
		display: flex;
		align-items: center;
		justify-content: end;
	}
	&__left {
		max-width: 344px;
		margin-right: 43px;
	}
	&__right {
		// max-width: 271px;
		width: 23.8%;
	}
	&__title {
		font-weight: 800;
		font-size: 24px;
		line-height: 140%;
		color: $white;
		margin-bottom: 16px;
	}
	&__text {
		font-weight: 600;
		font-size: 16px;
		line-height: 160%;
		color: rgba(255, 255, 255, 0.5);
	}
	&__input {
		display: block;
		width: 100%;
		background-color: $white;
		border: 1px solid $grey_1;
		border-radius: 50px;
		padding: 15px 32px;
		margin-bottom: 16px;
		
		font-weight: 400;
		font-size: 14px;
		// text-transform: uppercase;
		color: $black;
		&::placeholder {
			font-weight: 400;
			font-size: 14px;
			text-transform: uppercase;
			color: #AAAAAA;
		}
	}
	&__submit {
		width: 100%;
		// padding: 16px 97px 16px 40px;
		padding: 14px 40px;
		text-transform: uppercase;
		&::after {
			right: 21%;
		}
	}
}
/* CONTACT-SECTION */

/*FOOTER*/
.footer {
	&__inner {
		background-color: $black_1;
		border-radius: 10px;
	}
	&__top {
		padding: 30px 40px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		margin-bottom: 26px;
	}
	&__socials {
		&-title {
			font-weight: 400;
			font-size: 14px;
			line-height: 1.357;
			color: rgba(255, 255, 255, 0.5);
			margin-bottom: 12px;
		}
		&-items {
			display: flex;
		}
		&-item {
			width: 30px;
			height: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 100%;
			background-color: $grey_4;
			margin-right: 20px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&__nav {
		width: 33%;
		&-list {
			display: flex;
			justify-content: space-between;
		}
		&-item {
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&-link {
			font-weight: 400;
			font-size: 14px;
			line-height: 1.357;
			color: $white;
		}
	}
	&__numbers {
		width: 33.5%;
	}
	&__number {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 23px;
		&:last-child {
			margin-bottom: 0;
		}
		span {
			font-weight: 400;
			font-size: 14px;
			line-height: 1.357;
			color: rgba(255, 255, 255, 0.5);
		}
		a {
			font-weight: 700;
			font-size: 16px;
			line-height: 1.375;
			text-align: right;
			color: $white;
		}
	}
	&__bottom {
		padding: 10px 40px;
	}
	&__copyright {
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		font-size: 12px;
		line-height: 1.25;
		color: #505050;
	}
}
/*FOOTER*/

/* BREADCRUMBS */
.breadcrumbs {
	padding: 11px 0 13px;
	&__list {
		display: flex;
		align-items: center;
	}
	&__item {
		&-link, &-text, &-delimiter{
			font-family: $montserrat;
			font-weight: 600;
			font-size: 10px;
			line-height: 12px;
		}
		&-link {
			color: $cyan;
		}
		&-text {
			color: $grey;
		}
		&-delimiter {
			color: $grey;
			margin: 0 12px 0 8px;
		}
	}
}
/* BREADCRUMBS */

/* PAGE-INTRO */
.page-intro {
	&__wrapper {
		position: relative;
		border-radius: 10px;
    overflow: hidden;
	}
	&__backgrounds {
	}
	&__background {
		&-cyan, &-blue {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
		}
		&-cyan {
			// width: 534px;
			width: 46.8%;
			background: $cyan;
			z-index: 2;
			clip-path: polygon(0% 0, 100% 0, 36.5% 100%, 0 100%, 0 0%);
		}
		&-blue {
			// width: 624px;
			width: 54.7%;
			background: rgba(8, 136, 198, .8);
			clip-path: polygon(0% 0, 100% 0, 46.5% 100%, 0 100%, 0 0%);
			z-index: 1;
		}
	}
	&__wrapper-img {
		display: flex;
		justify-content: end;
		position: relative;
	}
	&__img {
		width: 83.333333%;
	}
	&__gradient {
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
		display: none;
	}
	&__inner {
		position: relative;
	}
	&__content {
		position: absolute;
		bottom: 80px;
		z-index: 3;
		&-inner {
			padding-left: 97px;
		}
	}
	&__logo {
		display: block;
		margin: 0 0 38px 97px;
	}
	&__wave {
		margin-bottom: 24px;
	}
	&__title {
		max-width: 271px;
		font-weight: 800;
		font-size: 52px;
		line-height: 110%;
		color: $white;
	}
}
/* PAGE-INTRO */

/* COMPANY-FOUNDED */
.company-founded {
	padding: 90px 0 120px;
	&__inner {
		display: flex;
	}
	&__left {
		margin-right: 40px;
		&-title {
			padding: 0;
			line-height: 160%;
			margin-bottom: 30px;
			span {
				font-size: 38px;
				line-height: 100%;
				color: $cyan;
			}
			&::after {
				display: none;
			}
		}
	}
	&__wrapper-img {
		position: relative;
	}
	&__img {
		border-radius: 10px;
		&-title {
			font-weight: 800;
			font-size: 24px;
			line-height: 130%;
			color: $white;
			position: absolute;
			left: 27px;
			bottom: 40px;
		}
	}
	&__right {
		&-title {
			text-align: center;
			margin: 5px 0 60px;
			&::after {
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px -32px;
	}
	&__item {
		width: 50%;
		padding: 0 15px;
		margin-bottom: 32px;
		&-head {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-bottom: 17px;
			border-bottom: 1px solid $grey_1;
			margin-bottom: 12px;
		}
		&-icon {
			margin-right: 16px;
		}
		&-title {
			font-weight: 700;
			font-size: 20px;
			line-height: 130%;
			color: $black_1;
		}
		&-text {
			padding-right: 17px;
			color: $grey_5;
		}
	}
}
/* COMPANY-FOUNDED */

/*SISTER-COMPANIES*/
.sister-companies {
	padding-bottom: 60px;
	&__head {
		margin-bottom: 30px;
	}
	&__title {
		margin-bottom: 38px;
	}
	&__text {
		max-width: 465px;
		width: auto;
		color: $black_1;
		&:last-child {
			margin-left: 0;
		}
	}
	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
	}
	&__item {
		padding: 0 10px;
		width: 50%;
		&-text {
			color: $black_1;
			padding-right: 12px;
		}
	}
	&__wrapper-img {
		position: relative;
		margin-bottom: 20px;
	}
	&__img {
		max-width: 100%;
		border-radius: 10px;
		&-title {
			font-weight: 800;
			font-size: 24px;
			line-height: 130%;
			color: $white;
			position: absolute;
			left: 40px;
			bottom: 30px;
		}
	}
}
/*SISTER-COMPANIES*/

/*BACKGROUND-SECTION*/
.background-section {
	margin-bottom: 80px;
	&__inner {
		max-width: 786px;
		margin: 0 auto;
		text-align: center
	}
	&__title {
		font-weight: 800;
		font-size: 24px;
		line-height: 130%;
		color: $white;
		margin-bottom: 16px;
	}
	&__text {
		font-size: 16px;
		line-height: 140%;
		text-align: center;
		color: $white;
	}
}
/*BACKGROUND-SECTION*/

/*GLOBAL-SERVICE*/
.global-service {
	&__wrapper {
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 51.17%, rgba(0, 0, 0, 0.6) 96.42%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('@img/global-service/global-service-background.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	&__inner {
		padding: 347px 0 40px;
	}
	&__more-text {
		display: none;
		font-size: 14px;
		color: $black_1;
	}
}
/*GLOBAL-SERVICE*/

/*CONTAINERS-BUYING*/
.containers-section {
	padding: 120px 0 40px;
	overflow: hidden;
	&__inner {
		min-height: 462px;
		position: relative;
	}
	// &__left {
	// 	max-width: 435px;
	// 	padding-top: 70px;
	// }
	&__title {
		margin-bottom: 34px;
	}
	&__texts {
		p {
			width: auto;
			&:last-child {
				margin-left: 0;
			}
		}
	}
	&__img {
		position: absolute;
    z-index: -1;
		right: 0;
		top: 50%;
		transform: translateX(68px) translateY(-50%);
	}
}
.containers-buying-blue {
	&__left {
		max-width: 435px;
		padding-top: 70px;
	}
}
/*CONTAINERS-BUYING*/

/*TYPES-CONTAINERS*/
.types-containers {
	&__head {
		padding-bottom: 30px;
	}
	&__title {
		text-align: center;
		margin-bottom: 34px;
		&::after {
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&__text {
		max-width: 477px;
		margin: 0 auto !important;
		text-align: center;
		&:last-child {
			width: auto;
		}
	}
	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
	}
	&__item {
		padding: 0 10px;
		width: 33.33333%;
		&-inner {
			border: 1px solid rgba(0, 0, 0, 0.1);
			border-radius: 10px;
		}
		&-bottom {
			padding: 22px 24px 35px 22px;
		}
		&-img {
			max-width: 100%;
		}
		&-head {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-bottom: 9px;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			&-property {
				font-weight: 700;
				font-size: 20px;
				line-height: 1.35;
				color: $black_1;
			}
			&-value {
				font-weight: 800;
				font-size: 24px;
				line-height: 1.375;
				color: $black_1;
			}
		}
		&-characteristics {
			&.active {
				display: block;
			}
			&-elem {
				margin-top: 25px;
				display: flex;
				justify-content: space-between;
			}
		}
		&-left {
			width: 59.4%;
			margin-right: 8px;
		}
		&-right {
			&__left {
				width: 40.6%;
			}
		}
		&-property {
			font-weight: 600;
			font-size: 16px;
			line-height: 22px;
			color: $white;
			background-color: $cyan;
			padding: 0 12px;
			border-radius: 10px;
			margin-bottom: 12px;
			text-align: center;
		}
		&-value {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-bottom: 3px;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			margin-bottom: 18px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&-child {
			&-property {
				font-weight: 700;
				line-height: 1.375;
				color: $black_1;
			}
			&-value {
				font-weight: 700;
				font-size: 18px;
				line-height: 1.388;
				text-align: right;
				color: $black_1;
			}
		}
		&-single {
			.types-containers__item-value {
				display: block;
				font-weight: 700;
				font-size: 18px;
				line-height: 1.388;
				text-align: center;
				color: $black_1;
				padding-bottom: 0;
				border: 0;
			}
		}
		&-btn {
			display: none;
			width: 100%;
			margin-top: 22px;
			background-color: $cyan;
			padding: 15px;
			text-align: center;
			border-top: 1px solid $grey_1;
			border-bottom: 1px solid $grey_1;
			&.active {
				background-color: $grey_1;
				span {
					&::after {
						top: 27%;
						transform: rotate(180deg) translateY(-50%);;
					}
				}
			}
			span {
				font-weight: 700;
				font-size: 18px;
				line-height: 1.388;
				color: $white;
				position: relative;
				padding-right: 23px;
				&::after {
					content: "";
					display: block;
					width: 11px;
					height: 5px;
					background-image: url('@img/types-containers/arrow-down.svg');
					position: absolute;
					top: 50%;
					right: 0;
					transform: translateY(-50%);
				}
			}
		}
	}
}
/*TYPES-CONTAINERS*/

.containers-buying-green {
	padding: 120px 0 0;
	&__left {
		max-width: 532px;
		padding-top: 0;
	}
}

/*SOLUTION*/
.solution {
	&__wrapper {
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 58.16%, rgba(0, 0, 0, 0.4) 86.42%), url('@img/global-service/global-service-background1.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	&__inner {
		padding: 218px 0 40px;
	}
	&__more-text {
		display: none;
		font-size: 14px;
		color: $black_1;
	}
}
/*SOLUTION*/

/*WE-SPECIALIZE*/
.we-specialize {
	padding: 80px 0 120px;
	overflow: hidden;
	&__title {
		max-width: 536px;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 80px;
		&::after {
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&__row-first {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
		.we-specialize__item {
			width: 25%;
		}
		margin-bottom: 20px;
	}
	&__row-second {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
		.we-specialize__item {
			width: 50%;
		}
	}
	&__item {
		padding: 0 10px;
		&-inner {
			border: 1px solid rgba(0, 0, 0, 0.1);
			border-radius: 10px;
			overflow: hidden;
		}
		&-img {
			max-width: 100%;
		}
		&-title {
			text-align: center;
			font-weight: 700;
			font-size: 24px;
			line-height: 130%;
			color: $black_1;
			padding: 27px 20px 32px;
		}
		// &-big {
		// 	.we-specialize__item-inner {
		// 		position: relative;
		// 	}
		// 	.we-specialize__item-title {
		// 		position: absolute;
		// 		bottom: 0;
		// 		width: 100%;
		// 	}
		// }
		&-blue {
			.we-specialize__item-title {
				font-weight: 800;
				font-size: 24px;
				text-align: left;
				color: $white;
				margin-bottom: 24px;
				padding: 0;
			}
			.we-specialize__item-inner {
				background-color: #20B9FE;
				height: max-content;
				padding: 50px 60px 73px;
				width: 112.5%;
				// border-radius: 10px 0 0 10px;
			}
			.we-specialize__item-list {
				li {
					font-weight: 700;
					font-size: 18px;
					line-height: 140%;
					color: $white;
					margin-bottom: 12px;
					padding-left: 13px;
					position: relative;
					&:last-child {
						margin-bottom: 0;
					}
					&::after {
						content: "";
						display: block;
						width: 6px;
						height: 6px;
						background-color: $white;
						border-radius: 100%;
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}
		}
	}
}
/*WE-SPECIALIZE*/

/*SUPPORT-TEAM*/
.support-team {
	transform: none;
	&__left {
		width: 43.2%;
		padding: 78px 20px 127px 68px;
	}
	&__right {
		width: 56.8%;
	}
	&__texts {
		margin-bottom: 0;
	}
	&__text {
		&:last-child {
			font-size: 16px;
			color: $white;
			margin-bottom: 0;
			padding-left: 0;
			&::before {
				display: none;
			}
		}
	}
	&__link {
		display: none;
	}
	&__wave {
		left: 0;
	}
}
/*SUPPORT-TEAM*/

/*PARAGRAPHS*/
.paragraphs {
	padding: 60px 0 80px;
	&__content {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -36px;
	}
	&__item {
		width: 50%;
		padding: 0 36px;
		margin-bottom: 48px;
		&-title {
			font-weight: 700;
			font-size: 20px;
			line-height: 160%;
			color: $black_1;
			padding-bottom: 6px;
			margin-bottom: 16px;
			position: relative;
			display: inline-block;
			&::after {
				content: "";
				display: block;
				width: 100%;
				height: 2px;
				background-color: $cyan;
				position: absolute;
				bottom: 0;
			}
		}
		&-text {
			max-width: 500px;
			color: $black_1;
		}
	}
}
/*PARAGRAPHS*/

/*CONTACTS*/
.contacts {
	padding: 12px 0 80px;
	// position: relative;
	overflow: hidden;
	.container {
		position: relative;
	}
	&__wave {
		position: absolute;
		top: 52px;
		// right: 0;
		right: -34px;
	}
	&__title {
		margin-bottom: 30px;
	}
	&__inner {
		display: flex;
	}
	&__left {
		width: 64.9%;
		background-color: #F8F8F8;
		border-radius: 10px;
		padding: 37px 0 33px 36px;
		position: relative;
	}
	&__logo {
		position: absolute;
		top: 80px;
		right: 170px;
	}
	&__ship {
		position: absolute;
		bottom: 0;
		right: 13px;
	}
	&__right {
		width: 35.1%;
		padding: 43px 0 50px 36px;
	}
	&__items {
		position: relative;
    z-index: 1;
	}
	&__item {
		margin-bottom: 35px;
		&:last-child {
			margin-bottom: 0;
		}
		&-name {
			font-weight: 800;
			font-size: 20px;
			line-height: 1.35;
			color: $black_1;
		}
		&-phone {
			display: flex;
			align-items: center;
			margin-bottom: 11px;
			a {
				font-weight: 400;
				font-size: 38px;
				line-height: 1.368;
				color: $black_1;
				margin-left: 16px;
			}
		}
		&-links {
			display: flex;
			align-items: center;
		}
		&-socials {
			display: flex;
			margin-right: 24px;
		}
		&-social {
			background-color: #B9B9B9;
			margin-right: 12px;
			width: 30px;
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 100%;
			&:last-child {
				margin-right: 0;
			}
		}
		&-email {
			line-height: 1.375;
			color: $black_1;
		}
	}
	&__text {
		font-size: 20px;
		line-height: 1.35;
		text-align: center;
		color: $black_1;
		margin-bottom: 30px;
	}
	&__input {
		display: block;
		width: 100%;
		border: 1px solid $grey_1;
		border-radius: 50px;
		padding: 18px 32px;
		font-size: 16px;
		color: $black;
		margin-bottom: 16px;
		&::placeholder {
			font-size: 16px;
			font-weight: 400;
			text-transform: uppercase;
			color: #AAAAAA;
		}
	}
	&__submit {
		width: 100%;
		margin-top: 24px;
		text-transform: uppercase;
		// padding: 17px 97px 17px 40px;
		padding: 19px 40px;
	}
}
/*CONTACTS*/

/*TRADING-PARTNERS*/
.trading-partners {
	padding: 80px 0;
	.container {
		max-width: 1280px;
		padding: 0;
	}
	&__item {
		display: flex;
		// align-items: center;
		margin-bottom: 80px;
		&:last-child {
			margin-bottom: 0;
		}
		&_left {
			.trading-partners__item-right {
				padding: 80px 98px 80px 117px;
			}
			.trading-partners__item-img {
				border-radius: 0 10px 10px 0;
			}
		}
		&_right {
			.trading-partners__item-left {
				padding: 60px 50px 95px 165px;
			}
			.trading-partners__item-img {
				border-radius: 10px 0 0 10px;
			}
		}
		&-title {
			max-width: 271px;
		}
		&-text {
			color: $black_1;
		}
	}
}
/*TRADING-PARTNERS*/

/*OUR-NETWORK*/
.our-network {
	padding: 90px 0 80px;
	overflow: hidden;
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 40px;
		&-left {
			margin-right: 20px;
			width: 57.5%;
		}
		&-right {
			width: 42.5%;
		}
	}
	&__map {
		transform: translateX(-70px);
	}
	&__title {
		margin-bottom: 32px;
	}
	&__texts {
		margin-bottom: 0;
		p {
			width: auto;
			&:last-child {
				margin-left: 0;
			}
		}
	}
	// &__text {
	// 	width: auto;
	// 	&:last-child {
	// 		margin-left: 0;
	// 	}
	// }
	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -28px;
		padding: 0px 16px;
	}
	&__item {
		width: 33.333333%;
		padding: 0 24px;
		&-country {
			border-radius: 5px;
			padding: 6px 12px 7px;
			text-align: center;
			font-weight: 800;
			font-size: 20px;
			line-height: 1.35;
			color: $white;
			margin-bottom: 24px;
		}
		&:first-child {
			.our-network__item-country {
				background: linear-gradient(180deg, #24D385 0%, #10BF71 100%);
			}
		}
		&:nth-child(2) {
			.our-network__item-country {
				background: linear-gradient(180deg, #82D9ED 0%, #6EC5D9 100%);
			}
		}
		&:last-child {
			.our-network__item-country {
				background: linear-gradient(180deg, #FFF115 0%, #EAC900 100%);
			}
		}
		&-title {
			font-weight: 800;
			font-size: 18px;
			color: $black_1;
			margin-bottom: 8px;
		}
		&-text {
			color: $black_1;
		}
	}
}
/*OUR-NETWORK*/

/* FORM-ALERT */
.form-alert {
	background-color: $cyan;
	position: fixed;
	left: 0;
	z-index: 100;
	width: 100%;
	padding: 20px 0;
	top: 0;
	transform: translateY(-101%);
	opacity: 0;
	transition: .3s linear opacity, .3s linear transform;

	&.active {
		opacity: 1;
		transform: translateY(0%);
	}

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__text {
		margin-right: 15px;
		color: #fff;
	}

	&__close {
		width: 15px;
		height: 15px;
		position: relative;
		cursor: pointer;
		transition: .3s linear transform;

		&:hover {
			transform: scale(1.3);
		}

		&:before, &:after {
			content: "";
			display: block;
			width: 15px;
			height: 2px;
			position: absolute;
			background-color: #fff;
		}

		&:before {
			top: 6px;
			transform: rotate(45deg)
		}

		&:after {
			top: 6px;
			transform: rotate(-45deg)
		}
	}
}
/* FORM-ALERT */

@import "media.scss";