@import 'reset.scss';
@import 'variables.scss';
@import 'fonts.scss';
@import 'mixins.scss';



body {
	font-size: 16px;
	font-weight: 600;
	line-height: 1.6;
	font-family: $nunitoSans;
	color: $black;
	background-color: $white;
}

.container {
	max-width: 1212px;
	margin: 0 auto;
	padding: 0 36px;
}

/* HEADER */
.header {
	&__top {
		padding: 10px 0;
		&-inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&-right {
			display: flex;
			align-items: center;
		}
	}
	&__bottom {
		// padding: 33px 0;
		border-top: 1px solid $grey_2;
		border-bottom: 1px solid $grey_2;
		position: relative;
		&-inner {
			display: flex;
			align-items: center;
			padding: 33px 0;
			// position: relative;
		}
	}
	&__email {
		font-weight: 400;
		font-size: 12px;
		line-height: 1.333;
		color: $grey;
	}
	&__numbers, &__socials {
		display: flex;
	}
	&__numbers {
		margin-right: 34px;
	}
	&__number {
		font-weight: 600;
		font-size: 12px;
		line-height: 1.333;
		color: $grey;
		text-transform: uppercase;
		margin-right: 24px;
		&:last-child {
			margin-right: 0;
		}
		span {
			margin-right: 2px;
		}
		a {
			color: $grey;
		}
	}
	&__social {
		width: 20px;
		height: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $grey_1;
		border-radius: 100%;
		margin-right: 12px;
		&:last-child {
			margin-right: 0;
		}
	}
	&__logo {
		margin-right: 74px;
	}
	.header__bottom-group {
		&.active {
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 10;
			width: 100%;
			padding: 48px 36px 40px;
			background-color: $white;
			.header {
				&__nav {
					display: block;
					margin-bottom: 40px;
					&-list {
						display: block;
					}
					&-item {
						margin-bottom: 34px;
						&:last-child {
							margin-bottom: 0;
						}
					}
					&-link {
						display: inline-block;
						font-size: 18px;
						line-height: 1.388;
						text-transform: uppercase;
					}
				}
				// &__mobile {
				// 	&-socials, &-numbers {
				// 		display: block;
				// 	}
				// }
				&__mobile {
					&-socials {
						// background-color: $black;
						justify-content: space-between;
						align-items: center;
						padding-bottom: 7px;
						border-bottom: 1px solid rgba(0, 0, 0, 0.1);
						margin-bottom: 23px;
						&-title {
							line-height: 1.375;
							color: rgba(50, 50, 50, 0.3);
						}
						&-items {
							display: flex;
						}
						&-item {
							background-color: $grey_1;
							width: 30px;
							height: 30px;
							display: flex;
							align-items: center;
							justify-content: center;
							border-radius: 100%;
							margin-right: 20px;
							&:last-child {
								margin-right: 0;
							}
						}
					}
					&-numbers {
						&-item {
							display: flex;
							justify-content: space-between;
							align-items: center;
							margin-bottom: 23px;
							&:last-child {
								margin-bottom: 0;
							}
							span {
								line-height: 1.375;
								color: rgba(50, 50, 50, 0.3);
							}
							a {
								font-weight: 700;
								color: $black_1;
							}
						}	
					}
				}
			}
		}
	}
	&__nav {
		&-list {
			display: flex;
		}
		&-item {
			margin-right: 40px;
			&:last-child {
				margin-right: 0;
			}
		}
		&-link {
			display: block;
			font-weight: 600;
			font-size: 14px;
			line-height: 1.357;
			color: $black_1;
			margin-top: 2px;
			transition: .4s linear color;
			&::after {
				content: "";
				display: block;
				width: 100%;
				height: 2px;
				opacity: 0;
				background-color: $cyan;
				transition: .4s linear opacity;
			}
			&:hover {
				color: $cyan;
				&::after {
					opacity: 1;
				}
			}
		}
	}
	&__mobile {
		&-socials, &-numbers {
			display: none;
		}
	}
	&__burger {
		display: none;
		width: 20px;
		height: 15px;
		position: relative;
		cursor: pointer;
		span {
			display: block;
			width: 100%;
			height: 2px;
			background-color: $black_1;
			position: absolute;
			transition: .4s linear transform;
			&:first-child {
				top: 0;
			}
			&:nth-child(2) {
				top: 7px;
			}
			&:last-child {
				bottom: 0;
			}
		}
		&.active {
			span {
				&:first-child {
					transform: rotate(45deg);
				}
				&:nth-child(2) {
					opacity: 0;
				}
				&:last-child {
					transform: rotate(-45deg);
				}
				&:first-child, &:last-child {
					top: 7px;
				}
			}
		}
	}
}
/* HEADER */

/* INTRO */
.intro {
	padding-top: 50px;
	// padding-bottom: 50px;
	// &__container {
	// 	padding: 0 36px;
	// }
	&__swiper {
		border-radius: 10px;
		&-pagination {
			bottom: 16px !important;
			display: flex;
			justify-content: center;
			.swiper-pagination-bullet {
				width: 10px;
				height: 10px;
				background: $white;
				opacity: .7;
				margin: 0 20px 0 0 !important;
				&:last-child {
					margin: 0 !important;
				}
			}
			.swiper-pagination-bullet-active {
				background: $cyan;
				opacity: 1;
			}
		}
	}
	&__slide {
		&-img {
			width: 100%;
		}
		&-content {
			position: absolute;
			bottom: 68px;
			&-inner {
				padding-left: 97px;
			}
		}
		&-wave {
			margin-bottom: 31px;
		}
		&-title {
			font-weight: 800;
			font-size: 52px;
			line-height: 100%;
			text-transform: uppercase;
			color: $white;
			margin-bottom: 12px;
		}
		&-subtitle {
			font-weight: 700;
			font-size: 24px;
			line-height: 100%;
			color: $white;
			margin-bottom: 32px;
		}
	}
}
/* INTRO */

/* BTNS */
.link-green-arrow {
	display: inline-block;
	padding: 9px 97px 9px 40px;
	border-radius: 30px;
	background-color: $cyan;
	color: $white;
	position: relative;
	&::after {
		content: "";
		display: inline-block;
		width: 41px;
    height: 10px;
		background-image: url('@img/intro/arrow-right.svg');
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 40px;
		transition: .4s linear right;
	}
	&:hover {
		&::after {
			right: 30px;
		}
	}
}
.link-green-stroke {
	display: inline-block;
	padding: 10px 38px;
	border-radius: 30px;
	border: 2px solid #24D385;
	font-weight: 700;
	font-size: 12px;
	line-height: 160%;
	color: $white;
	text-transform: uppercase;
	cursor: pointer;
	transition: .4s linear background-color;
	&:hover {
		background-color: $cyan;
	}
}
/* BTNS */

/* TITLE */
.section {
	padding: 120px 0;
	&__title {
		font-weight: 800;
		font-size: 24px;
		line-height: 1.375;
		color: $black_1;
		padding-bottom: 20px;
		position: relative;
		&::after {
			content: "";
			width: 50px;
			height: 8px;
			display: block;
			background-image: url('@img/about-section/wave-green.svg');
			position: absolute;
			bottom: 0;
		}
	}
}
/* TITLE */

/*ABOUT-COMPANY-SECTION*/
.about-company-section {
	&__inner {
		display: flex;
	}
	&__left {
		margin-right: 48px;
	}
	&__title {
		margin-bottom: 32px;
	}
	&__texts {
		margin-bottom: 48px;
	}
	&__text {
		max-width: 340px;
		&:first-child {
			margin-bottom: 24px;
		}
		&:last-child {
			margin-left: 97px;
		}
	}
	&__img {
		transform: translateX(68px);
		border-radius: 10px 0px 0px 10px;
	}
}
/*ABOUT-COMPANY-SECTION*/

/*SERVICES-TYPE-SECTION*/
.services-type-section {
	&__container {
		max-width: 1282px;
		padding: 0 36px;
		margin: 0 auto;
	}
	&__title {
		text-align: center;
		max-width: 512px;
		margin: 0 auto 30px;
		padding-bottom: 24px;
		&::after {
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
	}
	&__item {
		width: 33.33333%;
		padding: 0 10px;
		border-radius: 10px;
		overflow: hidden;
		&-inner {
			position: relative;
			border-radius: 10px;
			overflow: hidden;
			cursor: pointer;
			&:hover {
				.link-green-stroke {
					background-color: $cyan;
				}
				.services-type-section__item-background {
					opacity: 1;
				}
			}
		}
		&-img {
			width: 100%;
		}
		&-background {
			opacity: 0;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 54.82%, rgba(0, 0, 0, 0.3) 75.52%), linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			transition: .4s linear opacity;
		}
		&-type {
			position: absolute;
			top: 24px;
			left: 34px;

			font-weight: 800;
			font-size: 52px;
			line-height: 120%;
			text-transform: uppercase;
			color: rgba(255, 255, 255, 0.3);
		}
		&-bottom {
			position: absolute;
			bottom: 0;
			text-align: center;
			padding: 0 47px 38px;
		}
		&-title {
			font-weight: 800;
			font-size: 24px;
			line-height: 130%;
			color: $white;
			margin-bottom: 24px;
		}
		&-text {
			line-height: 140%;
			color: $white;
			margin-bottom: 32px;
		}
	}
}
/*DISTRIBUTION-SECTION*/
.distribution-section {
	min-height: 400px;
	margin-top: 20px;
	&__container {
		max-width: 1282px;
		padding: 0 36px;
		margin: 0 auto;
	}
	&__inner {
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 48.14%, rgba(0, 0, 0, 0.3) 76.09%), linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('@img/distribution-section/distribution-background.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		padding: 24px 30px 37px;
		border-radius: 10px;
	}
	&__content-bottom {
		max-width: 528px;
		margin: 0 auto;
		text-align: center;
	}
	&__title {
		font-weight: 800;
		font-size: 52px;
		line-height: 120%;
		text-transform: uppercase;
		color: rgba(255, 255, 255, 0.3);
		margin-bottom: 102px;
	}
	&__more-title {
		font-weight: 800;
		font-size: 24px;
		line-height: 130%;
		color: $white;
		margin-bottom: 24px;
	}
	&__text {
		font-weight: 600;
		line-height: 140%;
		color: $white;
		margin-bottom: 32px;
	}
}
/*DISTRIBUTION-SECTION*/

@import "media.scss";